.sidebar {
    width: 30%;
    border-right: 1px solid cornflowerblue;
    height: 100%;
}

/* search */
.search {
    height: 10%;
    width: 80%;
    margin: 5px auto;
    display: flex;
    flex-direction: row;
    padding-top: 15px;
}
.search input {
    height: 40px;
    width: 100%;
    background-color: #444;
    border-color: cornflowerblue;
    margin-right: 4px;
    color: cornflowerblue;
}
.search button {
    background-color: #444;
    border-color: cornflowerblue;
    color: cornflowerblue;
    height: 40px;
    cursor: pointer;
}
.search button:hover {
    background-color: aliceblue;
}

/* space */
.space {
    height: 5px;
}

/* person avatar and name */
.persons {
    height: 80%;
    overflow: auto;
}
.person {
    height: 50px;
    display: flex;
    flex-direction: row;
    margin: 5px;
    border: 1px solid cornflowerblue;
    cursor: pointer;
}
.person:hover {
    background-color: aliceblue;
}
.personbg {
    background-color: aliceblue;
}
.avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.avatar img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.person p {
    margin: auto 5px;
}

/* logout */
.logout {
    height: 5%;
}
.logout button {
    margin-left: 20px;
    width: 80%;
    background-color: royalblue;
    cursor: pointer;
    border: 0;
    border-radius: 1px;
    color: aliceblue;
}
.logout button:hover {
    background-color: red;
}