.bg {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #444;
    color: cornflowerblue;
    justify-content: center;
    align-items: center;
    display: flex;
}
.contain {
    height: 600px;
    width: 762px;
    border: 1px solid cornflowerblue;
    border-radius: 10px;
    background-color: #444;
    display: flex;
    flex-direction: row;
}