.background {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #444;
    color: cornflowerblue;
    justify-content: center;
    align-items: center;
    display: flex;
}
.container {
    height: 600px;
    width: 450px;
    border: 1px solid cornflowerblue;
    border-radius: 30px;
    background-color: #444;
    display: flex;
    flex-direction: column;
}
.text {
    margin: 5px;
}
.text p {
    color: rgb(16, 74, 182);
    font-size: 50px;
    text-align: center;
}
form .input {
    width: 80%;
    margin: 0 auto;
    height: 35px;
    padding-left: 10px;
    background-color: #444;
    color: cornflowerblue;
    border: none;
    border-bottom: 2px solid cornflowerblue;
}
form .form {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 25px;
}
form .link {
    color: cornflowerblue;
    text-decoration: none;
    margin: 40px;
}
form span {
    font-size: 20px;
    margin-bottom: 5px;
}
.button button {
    border-radius: 10px;
    width: 180px;
    height: 45px;
    font-size: 20px;
    color: cornflowerblue;
    border: 1px solid cornflowerblue;
    background-color: #444;
    cursor: pointer;
}
.button {
    justify-content: center;
    display: flex;
    margin: 15px;
}
form a:hover {
    text-decoration: underline;
}
.button button:hover {
    background-color: blueviolet;
}
.button button:active {
    border: 0;
}