@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  cursor: pointer;
  width: 8px;
}
::-webkit-scrollbar-track {
  cursor: pointer;
  background: #242424;
}
::-webkit-scrollbar-thumb {
  background: cornflowerblue;
  border-radius: 5px;
}